.wav filter=lfs diff=lfs merge=lfs -text
.png filter=lfs diff=lfs merge=lfs -text
Executables/GatewayServer.pck filter=lfs diff=lfs merge=lfs -text
Executables/Icon.ai filter=lfs diff=lfs merge=lfs -text
Executables/RRClient.command filter=lfs diff=lfs merge=lfs -text
Executables/launch_macos.sh filter=lfs diff=lfs merge=lfs -text
Executables/AuthenticationServer.pck filter=lfs diff=lfs merge=lfs -text
Executables/AuthenticationServer.exe filter=lfs diff=lfs merge=lfs -text
Executables/GatewayServer.app filter=lfs diff=lfs merge=lfs -text
Executables/GatewayServer.command filter=lfs diff=lfs merge=lfs -text
Executables/GatewayServer_macos-export.dmg filter=lfs diff=lfs merge=lfs -text
Executables/launch.bat filter=lfs diff=lfs merge=lfs -text
Executables/AuthenticationServer.app filter=lfs diff=lfs merge=lfs -text
Executables/AuthenticationServer.console.exe filter=lfs diff=lfs merge=lfs -text
Executables/AuthenticationServer_macos-export.dmg filter=lfs diff=lfs merge=lfs -text
Executables/GatewayServer.console.exe filter=lfs diff=lfs merge=lfs -text
Executables/OldAuthAndGateway filter=lfs diff=lfs merge=lfs -text
Executables/RRServer.command filter=lfs diff=lfs merge=lfs -text
Executables/AuthenticationServer.command filter=lfs diff=lfs merge=lfs -text
Executables/Icon.png filter=lfs diff=lfs merge=lfs -text
Executables/RunAuthentGateway_macos.app filter=lfs diff=lfs merge=lfs -text
Executables/GatewayServer.exe filter=lfs diff=lfs merge=lfs -text
